
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*decktop navber desing start*/
.navber{
      display:flex;
      justify-content: space-between;
      flex-direction: row;
}  

.head-title h1{
 
  margin-top: 20px;
}

.manuber{
    flex-direction: row;
    justify-content:flex-end;  
}
.manuber a{
  background: transparent;
  margin-top: 20px;
}
/*decktop navber desing end*/

/*about section start*/
.about-main{
  display: flex;
  justify-content: space-between;
}
.main-right p{
  text-align: left;
  margin-left: 10%;
}
/*about section end*/

/*professional experience section start here*/
.pro-exp{
 display: flex;
 flex-direction:row;
 clear: both;
  
  
}
.work-exp{
  width:33.33%;
  
}


.pro-exp::after{
  clear: both;
  display: table;
  content: '';
}


/*professional experience section end here*/

/*achievement-contactme start hear*/
.achive-cantact{
  display: flex;
  justify-content: space-between;
}

.ach-can-head{
  width: 33.33%;
}

.contact-links{
  width: 33.33%;
  position: relative;
}


.media-buttons{
 
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);

}

/*achievement-contactme eand hear*/

/*footer section start hear*/

.footer{
  display: flex;
  justify-content: space-around;
}

.footer-manu{
  display: flex;
  flex-direction: row;
  padding: 20px;
}

/*footer section end hear*/




